.home .full-screen {
    padding: 50px 0;
    min-height: 86vh;
}

.home .text-home {
    letter-spacing: 2px;
}

.home .text-home {
    flex: 0 0 30%;
    /* ocupa 50% do tamanho e não faz grow nem shrink */
    max-width: 30%;
    padding: 0 15px;
}

.home .img-home {
    flex: 0 0 70%;
    max-width: 70%;
}   

@media(max-width: 1280px) {
    .home .text-home, .home .img-home {
        flex: 0 0 1000%;
        max-width: 100%;
        text-align: center;
        padding: 0 var(--mobile-padding);
    }
    .home .img-home {
        margin-top: 50px;
    }
}

.home .img-home .img-box {
    max-width: 750px;
    margin: auto;
    border-radius: 25%;
}

.home .img-home .img-box img {
    width: 100%;
    border-radius: 25%;
    border: 10px solid transparent;
}

.home .text-home p {
    font-family: var(--secondary-font);
    font-size: var(--large-font);
    margin-bottom: 10px;
}

.home .text-home h1 {
    font-family: var(--secondary-font);
    font-size: var(--gigantic-font);
    font-weight: 700;
    margin-bottom: 20px;
}

.home .text-home h2 {
    font-family: var(--secondary-font);
    font-size: var(--large-font);
    letter-spacing: 2px;
    margin-bottom: 30px;
}