@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    color: var(--color-white);
    font-weight: 300;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-background-gray-dark);
    font-family: var(--primary-font);
    font-size: var(--normal-font);
  }

  .container {
    max-width: 1140px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-items-to-center {
    align-items: center;
  }

  .social-media a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--color-white);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .social-media a i {
    line-height: 40px;
  }
  
  .social-media a:hover {
    color: var(--primary-color);
  }

  .outer-shadow {
    box-shadow: 0 0 #454545, 0 0 25px #43414f; 
  }

  .inner-shadow {
    box-shadow: inset 0 0 20px #222327, inset 0 0 35px #454545;
  }
  
  .outer-glow {
    box-shadow: 0 0 #454545, 0 0 25px #43414f; 
    position: relative;
    z-index: 0;
  }

  .outer-glow::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
  }

  .outer-glow::before {
    content: "";
    background: linear-gradient(
      45deg,
      #43414f, #545161, #676576, #858392,
      #676576, #545161, #43414f
      /* #ffffff, #c4c4c4, #6e6e6e, #3a3a3a, 
      #6e6e6e, #c4c4c4, #ffffff */
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: outer-glowing 20s linear infinite;
    transition: opacity .2s ease-in-out;
    border-radius: 50%;
    opacity: 1;
  }

  @keyframes outer-glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  .inner-glow {
    box-shadow: inset 0 0 20px #222327, inset 0 0 35px #454545;
    position: relative;
    z-index: 0;
  }

  .inner-glow::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 25%;
  }

  .inner-glow::before {
    content: "";
    background: linear-gradient(
      45deg,
      #222327, #343439, #4a4b4f, #7c7d80,
      #4a4b4f, #343439, #222327
      /* #ffffff, #c4c4c4, #6e6e6e, #3a3a3a, 
      #6e6e6e, #c4c4c4, #ffffff */
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: inner-glowing 40s linear infinite;
    transition: opacity .2s ease-in-out;
    border-radius: 25%;
    opacity: 1;
  }

  @keyframes inner-glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }

  .section{
    padding: 7rem 0 7rem;
  }
  
  .section-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
  }
  
  .section-title h2 {
    font-size: var(--gigantic-font);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .button {
    font-size: var(--large-font);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--primary-color);
  }
  
  .button:hover {
    background-color: var(--secondary-color);
    color: var(--color-white);
  }