:root {
    --primary-color: #43bd8e;
    --secondary-color: #FD6C22;    
    --color-white: #fff;
    --color-background-dark: #040203;    
    --color-background-gray-dark: #282828;
    --color-background-gray-light: #353535;    
  }
    
  :root {
    --primary-font: 'Poppins', sans serif;
    --socondary-font: 'Raleway', sans serif;
    --gigantic-font: 4.5rem;
    --extra-large-font: 3rem;
    --large-font: 2.4rem;
    --normal-font: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }