:root {
    --primary-color: #218c9b;
    --secondary-color: #4031cb;    
    --color-white: #fff;
    --color-background-dark: #000000;    
    --color-background-gray-dark: #22282d;
    --color-background-gray-light: #434950;    
  }
    
  :root {
    --primary-font: 'Poppins', sans-serif;
    --socondary-font: 'Raleway', sans-serif;
    --gigantic-font: 4.5rem;
    --extra-large-font: 3rem;
    --large-font: 2.4rem;
    --normal-font: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }